body{
    background:hsl(212, 45%, 89%)
}
@font-face {
    font-family:Outfit;
    src: url('Outfit1/Outfit-VariableFont_wght.ttf') format('truetype');
}

.card{
    width:250px;
    height:400px;
    background-color: #fff;
    text-align: center;
    font-family: Outfit;
    border-radius:15px;
    margin:0 auto;
    margin-top: 130px;
}
p{
    font-size: 13px;
    width: 225px;
    margin:0 auto;
    margin-top:15px;    
    font-weight: 400;
    color:hsl(220, 15%, 55%)
}   
h3{
    font-size:18px;
    width: 225px;
    margin:0 auto;
    margin-top:15px;
    font-weight: 700;
}
.qrcode{
    width:225px;
    height:225px;
    margin-top:12.5px;
    border-radius:8px;
}